.footer {
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  background-color: #afd24a;
  margin-top: 220px;
  font-weight: bold;

  @media screen and (min-width: 1000px) {
    margin-top: 330px !important;
  }

  @media screen and (min-width: 1800px) {
    margin-top: 430px !important;
  }

  p {
    font-weight: bold;
  }

  .subfooter {
    border-top: 1px solid #fff;
  }

  &::before {
    background-color: #afd24a !important;
  }

  footer {
    position: relative;
    background-color: #afd24a;
    padding-bottom: 60px;

    &::before {
      content: image-url("footer.svg");
      position: absolute;
      top: 0;
      background-position: top center;
      background-repeat: no-repeat;
      left: 0;
      right: 0;
      top: -100px;

      @media screen and (min-width: 500px) {
        top: -120px;
      }

      @media screen and (min-width: 750px) {
        top: -170px;
      }

      @media screen and (min-width: 1000px) {
        top: -220px;
      }

      @media screen and (min-width: 1500px) {
        top: -270px;
      }

      @media screen and (min-width: 1800px) {
        top: -390px;
      }

      @media screen and (min-width: 75rem) {
        // left: calc(37.5rem - 50vw);
        // right: calc(37.5rem - 50vw);
      }
    }

    .clikus {
      z-index: 0;
      position: relative;
    }
  }
}



.auth-page .footer {
  footer {
    &::before {
      @media screen and (min-width: 75rem) {
        right: 0;
      }
    }
  }
}
