$body-font-family: 'poppins', sans-serif !important;
$header-font-family: 'poppins', sans-serif !important;
$base-font-size:      16px;

// Regular
@font-face {
  font-family: "poppins";
  src: font-url("Poppins-Black.ttf") format("truetype");
  src: font-url("Poppins-BlackItalic.ttf") format("truetype");
  src: font-url("Poppins-Bold.ttf") format("truetype");
  src: font-url("Poppins-BoldItalic.ttf") format("truetype");
  src: font-url("Poppins-ExtraBold.ttf") format("truetype");
  src: font-url("Poppins-ExtraBoldItalic.ttf") format("truetype");
  src: font-url("Poppins-ExtraLight.ttf") format("truetype");
  src: font-url("Poppins-ExtraLightItalic.ttf") format("truetype");
  src: font-url("Poppins-Italic.ttf") format("truetype");
  src: font-url("Poppins-Light.ttf") format("truetype");
  src: font-url("Poppins-LightItalic.ttf") format("truetype");
  src: font-url("Poppins-Medium.ttf") format("truetype");
  src: font-url("Poppins-MediumItalic.ttf") format("truetype");
  src: font-url("Poppins-Regular.ttf") format("truetype");
  src: font-url("Poppins-SemiBold.ttf") format("truetype");
  src: font-url("Poppins-SemiBoldItalic.ttf") format("truetype");
  src: font-url("Poppins-Thin.ttf") format("truetype");
  src: font-url("Poppins-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "zona-pro";
  src: font-url("ZonaPro-Bold.otf") format("opentype");
  src: font-url("ZonaPro-Light.otf") format("opentype");
  src: font-url("ZonaPro-Regular.otf") format("opentype");
  src: font-url("ZonaPro-SemiBold.otf") format("opentype");
  src: font-url("ZonaPro-Thin.otf") format("opentype");
}
