$body-font-family: 'zona-pro', sans-serif !important;
$header-font-family: 'zona-pro', sans-serif !important;
$base-font-size:      16px;

// Regular 
@font-face {
  font-family: "zona-pro";
  src: font-url("ZonaPro-Bold.otf") format("opentype");
  src: font-url("ZonaPro-Light.otf") format("opentype");
  src: font-url("ZonaPro-Regular.otf") format("opentype");
  src: font-url("ZonaPro-SemiBold.otf") format("opentype");
  src: font-url("ZonaPro-Thin.otf") format("opentype");
}
